body {
    font-family: 'Roboto Mono',monospace;
    min-height: auto;  
    background-color: #0058B5;
    background-image: url('https://cdn.webshopapp.com/shops/94414/files/52440074/flag-of-ukraine.jpg') ;
    
  
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
    background-image: url('https://i.dailymail.co.uk/1s/2022/02/25/16/54653835-10552005-A_member_of_South_Africa_s_Ukrainian_Association_holds_a_poster_-m-425_1645806909630.jpg') ;
    background-repeat: no-repeat;
    background-position: center; 
  }
  
  .page-title {
    color:#FADA06;
    text-shadow: #000 2px 3px 2px;
    margin: 0 0 5px;
    
  }
  
  .page-subtitle {
    color:#FADA06;
    text-shadow: #000 2px 3px 2px;
    font-weight: bold;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
    text-shadow: #000 2px 3px 2px;
    font-weight: bold;
    margin-top: 5px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
     
  }
  
  .form{
    text-align: center;
    padding: 20px;
    height: 100vh;
    color:#FADA06;
    text-shadow: #000 2px 3px 2px;
    font-weight: bold;
    margin: 0 0 5px;
  }
  
  .btn {
    
  padding: 4px 11px;
  
  border: 1px solid #ffcc00;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  
  background-color: #ffcc00 !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffcc00), color-stop(100%,#ff6600)) !important;
  background: -webkit-linear-gradient(top, #ffcc00, #ff6600) !important;
  background: -moz-linear-gradient(top, #ffcc00, #ff6600) !important;
  background: -ms-linear-gradient(top, #ffcc00, #ff6600) !important;
  background: -o-linear-gradient(top, #ffcc00, #ff6600) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc00', endColorstr='#ff6600',GradientType=0 );
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmY2MwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjY2MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  
  font-family:"Segoe UI";
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 0 #666;
  
  box-shadow: inset 0 1px 1px #fff, 0 2px 3px #666;
  cursor:pointer;
  position: relative;
  }
  
  .botao:hover {
  box-shadow: inset 0 2px 5px #fff, 0 2px 3px #666;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#ff6600)) !important;
  }
  
  .botao:active {
  box-shadow: inset 0 2px 5px #fff, 0 1px 3px #666 !important;
  top:2px
  }
  .botao a, .botao a:active, .botao a:hover, .botao a:visited { text-decoration:none; color: #fff; text-shadow: 0 1px 0 #666; 
  }

 